.mid-head {
  text-align: center;
  margin-bottom: 8px;
  text-decoration: underline;
}
.back-card {
  background-color: #00bfff;
}
.back-body {
  background-color: #8fbc8f;
}
.head-display {
  text-align: center;
  border-bottom: 3px solid black;
}
