#hdr1 {
  text-align: center;
  margin: 10px;
  text-decoration: underline;
}
.mid-head {
  text-align: center;
  margin-bottom: 10px;
}
.back-card {
  background-color: #00bfff;
}
.back-body {
  background-color: #8fbc8f;
}
.head-display {
  text-align: center;
}
